body {
	background:#AED6F1 ;
}

header{
	position:relative;
	width:500px;
	height:130px;
	margin:0 auto;
	top: 0px;
	left:50px;
	padding:20px 0;
}

header h1{
    position:absolute;
    top:0px;
}

header p{
	font-family: arial, verdana, sans-serif;
	text-align:left;
	font-size:40px;
	color: white;
	font-weight:bold;
	text-transform:uppercase;
	position:absolute;
	top:0px;
	left:150px;
	margin-bottom:0;
	margin-top:65px;
}

.caixa {
	width:550px;
	height:450px;
	background: white;
	margin:0 auto;
	border: solid #CCCCCC 5px;
	border-radius:40px;
	text-align: center;
}

form {
	padding:20px;
	text-align:center;
}

.formulario {
	font-family: arial, verdana, sans-serif;
	font-size:15px;
	color:black;
	text-align:center;
	padding:15px;
}

.copyright {
	font-family: arial, verdana, sans-serif;
	text-align:center;
	font-size:13px;
	color: white;
	padding: 10px;
}
